<div class="row p-1 justify-content-center ml-0 mr-0">
    <div class="col-8">
        <div *ngIf="user">
            <h2>
                <span>User</span> [<b>{{user.login}}</b>]
            </h2>
            <div class="row p-1">
                <div class="col"><span>Login</span></div>
                <div class="col">
                    <span>{{user.login}}</span>
                    <!-- <boolean
                   [value]="user.activated"
                   [textTrue]="'userManagement.activated'"
                   [textFalse]="'userManagement.deactivated'">
                 </boolean>-->
                </div>
            </div>
            <div class="row p-1">
                <div class="col"><span>First Name</span></div>
                <div class="col">{{user.firstName}}</div>
            </div>
            <div class="row p-1">
                <div class="col"><span>Last Name</span></div>
                <div class="col">{{user.lastName}}</div>
            </div>
            <div class="row p-1">
                <div class="col"><span>Email</span></div>
                <div class="col">{{user.email}}</div>
            </div>
          <!--  <div class="row p-1">
                <div class="col"><span>Created By</span></div>
                <div class="col">{{user.createdBy}}</div>
            </div>-->
            <div class="row p-1">
                <div class="col"><span>Created Date</span></div>
                <div class="col">{{user.createdDate | date:'dd/MM/yy HH:mm' }}</div>
            </div>
            <!--<div class="row p-1">
                <div class="col"><span>Last Modified By</span></div>
                <div class="col">{{user.lastModifiedBy}}</div>
            </div>-->
            <div class="row p-1">
                <div class="col"><span>Last Modified Date</span></div>
                <div class="col">{{user.lastModifiedDate | date:'dd/MM/yy HH:mm'}}</div>
            </div>
            <div class="row p-1">
                <div class="col"><span>Profiles</span></div>
                <div class="col">
                    <span class="badge badge-info">{{user.authority}}</span>
                </div>
            </div>
            <button type="submit"
                    routerLink="../../"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>
        </div>
    </div>
</div>
