<div class="login-container">
  <div class="login-cont-buttons">
    <a href="">Reset Password</a>
    <a routerLink="/home">Home</a>
  </div>
  <div class="login-inputs login-dimensions">
    <form class="form" role="form" (ngSubmit)="resetPassword()" #passwordForm="ngForm">
      <ng-container *ngIf="!keyMissing && !success">
        <div class="pb-3">
          <label class="sr-only" for="password">New password</label>
          <input type="password" class="m-0" id="password" name="password" #passwordInput="ngModel"
                 placeholder="Password"
                 [(ngModel)]="resetAccount.password" minlength=4 maxlength=50 required>
          <div *ngIf="passwordInput.dirty && passwordInput.invalid" class="p-0 m-0 error-msgs">
            <small class="error-msg"
                   *ngIf="passwordInput.errors.required">
              Your password is required.
            </small>
            <small class="error-msg"
                   *ngIf="passwordInput.errors.minlength">
              Your password is required to be at least 4 characters.
            </small>
            <small class="error-msg"
                   *ngIf="passwordInput.errors.maxlength">
              Your password cannot be longer than 50 characters.
            </small>
          </div>
        </div>
        <div class="pb-3">
          <label class="sr-only" for="confirmPassword">New password confirmation</label>
          <input type="password" class="m-0" id="confirmPassword" name="confirmPassword"
                 #confirmPasswordInput="ngModel"
                 placeholder="Confirm Password"
                 [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
          <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid" class="p-0 m-0 error-msgs">
            <small class="error-msg"
                   *ngIf="confirmPasswordInput.errors.required">
              Your password confirmation is required.
            </small>
            <small class="error-msg"
                   *ngIf="confirmPasswordInput.errors.minlength">
              Your password confirmation is required to be at least 4 characters.
            </small>
            <small class="error-msg"
                   *ngIf="confirmPasswordInput.errors.maxlength">
              Your password confirmation cannot be longer than 50 characters.
            </small>
          </div>
        </div>
      </ng-container>
      <div class="error-msg" *ngIf="error">
        <strong>Password reset failed!</strong> Please note that password reset link expires in 24hrs.
      </div>
      <div class="error-msg" *ngIf="doNotMatch">
        The password and its confirmation do not match!
      </div>
      <div class="password-success-msg" *ngIf="success">
        <strong>Password reset successful!</strong><br>
        Please sign-in using below button.
      </div>
      <button type="submit" *ngIf="!success">Reset Password</button>
      <button type="submit" *ngIf="success" (click)="navigateToLogin()">Sign-in</button>
    </form>
  </div>
</div>