<header>
  <nav>
    <div class="container">
      <img src="../../content/images/ehelpdesk.png" alt="The logo" class="logo">
      <ul class="main-nav">
        <li><a href="#products">Products</a></li>
        <li><a href="#works">How it works</a></li>
        <li><a href="#contact-us">Contact Us</a></li>
        <li><a [routerLink]="'/landing/register'">Sign up</a></li>
      </ul>
    </div>
  </nav>
  <div class="helpdesk-text-box">
    <h1>E-Helpdesk. <br>A CUSTOMER MANAGEMENT Application.</h1>
    <a class="btn btn-full" routerLink="/landing/login">Login</a>
    <a class="btn btn-ghost" href="#products">Show me more</a>
  </div>
</header>
<eh-products></eh-products>
<eh-works></eh-works>
<eh-contact-us></eh-contact-us>
<eh-footer></eh-footer>
