<div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="card" (click)="navigateToComplaints()">
        <div class="card-body text-center">
            <h5 class="card-title">
                <fa-icon [icon]="'file-alt'" [size]="'2x'"></fa-icon>
            </h5>
            <a href="javascript:void(0)">Complaints</a>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="card" (click)="navigateToMyAccount()">
        <div class="card-body text-center">
            <h5 class="card-title"><fa-icon [icon]="'user-circle'" [size]="'2x'"></fa-icon></h5>
            <a href="javascript:void(0)" >My Account</a>
        </div>
    </div>
</div>
<div class="col-lg-4 col-md-6 col-sm-6 col-12">
    <div class="card" (click)="logout()">
        <div class="card-body text-center">
            <h5 class="card-title"><fa-icon [icon]="'sign-out-alt'" [size]="'2x'"></fa-icon></h5>
            <a href="javascript:void(0)" >Logout</a>
        </div>
    </div>
</div>