<header class="login-header">
  <div style="position: relative">
    <img src="../../../content/images/ehelpdesk.png" alt="The logo" class="small-logo">
    <h3 class="logo-text">
      Ehelpdesk
    </h3>
  </div>
</header>
<div class="login-fields-container" *ngIf="isParamsResolved">
  <div class="main-fields-container">
    <div class="login-container">
      <div class="login-cont-buttons">
        <a href="javascript:void(0)">{{isForgotUsername ? 'Forgot Username' : 'Forgot Password'}}</a>
        <a routerLink="/home">Home</a>
      </div>
      <div class="login-inputs forgot-username-password-box">
        <form class="form" role="form" (ngSubmit)="forgotUsernamePassword()" [formGroup]="loginForm">
          <div class="login-username pb-2">
            <label for="email" class="sr-only">Email</label>
            <input type="text" name="email" id="email" placeholder="Email"
                   formControlName="email" required>
          </div>
          <div class="error-msg pb-1 m-0" *ngIf="noEmailFound">
            <strong>Email not found!</strong> Please enter correct email.
          </div>
          <div class="success-msg pb-1 m-0" *ngIf="isSuccess">
            <strong>Requested details sent to your email address!</strong> Please check your email and come back to login.
          </div>
          <button type="submit">{{isForgotUsername ? 'Forgot Username' : 'Forgot Password'}}</button>
          <div class="login-password">
            <a href="javascript:void(0)" (click)="navigateToLogin()">Back to Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
