<form name="deleteForm" (ngSubmit)="confirm()">
  <div class="modal-header">
    <h4 class="modal-title">Active Login Present</h4>
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
            (click)="clear()">&times;</button>
  </div>
  <div class="modal-body">
    <p>You already have an active session, it will be logged out if you continue with current login.<br><br>
      Do you want to proceed?</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
      <span>Cancel</span>
    </button>
    <button type="submit" class="btn btn-success">
      <span>Sign-in</span>
    </button>
  </div>
</form>
