<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/lib/normalize.css}" href="../static/css/lib/normalize.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}" href="../static/css/styles.css">
    <title>E-Helpdesk</title>
</head>
<body>
<header>
    <nav>
        <div class="row">
            <ul class="main-nav">
                <li><a href="#">Companies</a></li>
                <li><a href="#">How it works</a></li>
                <li><a href="#">Products</a></li>
                <li><a href="#">Sign up</a></li>
            </ul>
        </div>
    </nav>
    <div class="helpdesk-text-box">
        <h1>E-Helpdesk. <br>A CRM Application.</h1>
        <a class="btn btn-full" href="#">Login</a>
        <a class="btn btn-ghost" href="#">Show me more</a>
    </div>
</header>
</body>
</html>
