<!Doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="format-detection" content="email=no">
    <link
            href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i"
            rel="stylesheet">
    <style>
        body {
            font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;
        }

        a {
            color: #135b8d;
            font-weight: 400;
        }

        a:hover {
            color: #08b3ce
        }
    </style>
</head>

<title th:text="#{email.username.title}">E-Helpdesk Product Code</title>

<body style=" font-family: 'Roboto', sans-serif, Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: 400;">
<!--[if mso]>
<center>
    <table style="color: #929292">
        <tr>
            <td width="760">
<![endif]-->
<div style="max-width: 760px; margin: auto">
    <table style="width:100%; color:#929292;">
        <tr>
            <td style="background-image: url(cid:background); width:100%; display: block; background-color: #142535">
                <table>
                    <tr>
                        <td style="max-width:120px;">

                            <img src="cid:logo" alt="iss-logo" height="40" width="100"
                                 style="max-height:40px; width:auto; padding-top:6px; padding-left:16px;">
                        </td>
                        <td>
                            <table style="padding-left: 16px; vertical-align: top">
                                <tr>
                                    <td style="color:white; font-size: 24px; font-weight: 300;">
                                        E-Helpdesk
                                    </td>
                                </tr>
                                <tr>
                                    <td style="color:#135b8d; font-size: 13px; font-weight: 500">
                                        A CRM Application, helping customers resolve their issues faster.
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="padding:0px 30px; width: 100%;">
                    <tr>
                        <td>
                            <table style="text-align: center; width: 100%;">
                                <!--[if mso]>
                                <tr></tr>
                                <![endif]-->
                                <tr>
                                    <td style="text-align: left">
                                        <p th:text="#{email.username.greeting(${productCode.userFirstName})}">
                                            Dear
                                        </p>
                                        <p th:text="#{email.product.text}">
                                            Your product purchase has been registered with E-Helpdesk, Please use below
                                            product code to register with the application.
                                        </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <!--[if mso]>
                                        <br/>
                                        <![endif]-->
                                        <p style="color:#363636; font-size: 15px;">
                                            <strong>Product Code: </strong><span
                                                th:text="${productCode.code}"></span>
                                        </p>
                                    </td>
                                </tr>
                                <tr th:if="${mailNote ne null}">
                                    <td>
                                        <span
                                                style="display: inline-block;background-color: #f4feff;color: #2a2a2a;padding: 10px 4%; min-width: 260px">
                                             <!--[if mso]>
                                            <br/>
                                            <![endif]-->
                                            <strong>Note : </strong>
                                            <span>Please do not share the product code.</span>
                                        </span>
                                    </td>
                                </tr>
                                <!--[if mso]>
                                <br/>
                                <![endif]-->
                                <tr th:if="${mailInfo ne null}">
                                    <td th:utext="${mailInfo}">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table style="margin-top: 30px; color:#333">
                                <tr>
                                    <td>Regards,<br/>
                                        <span style="font-weight: 500"><strong>E-Helpdesk Team</strong></span></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table
                        style="background-color:#142535; padding:16px; border-top: 16px solid #135b8d; width: 100%">
                    <tr>
                        <td style="border-bottom: 1px solid #135b8d; padding-bottom: 6px; font-size: 20px;font-weight: 300">
                            E <span style="color:#135b8d">Helpdesk</span></td>
                    </tr>
                    <tr>
                        <td style="padding-top:6px; font-size: 11px;">
                            For important information about E-Helpdesk & its operations and process,
                            please click below link.
                            © 2020 E-Helpdesk. All Rights Reserved.
                            <p><a style=" color: #135b8d; font-weight: 400;" href="#">View E-Helpdesk Resources.</a></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>
<!--[if mso]>
</td></tr></table>
</center>
<![endif]-->
</body>
</html>
