<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Press</a></li>
                </ul>
            </div>
            <div class="col">
                <ul class="social-links">
                    <li><a href="#">
                        <fa-icon icon="facebook" fixedWidth="true"></fa-icon>
                    </a></li>
                    <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                    <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                    <li><a href="#"><i class="ion-social-instagram"></i></a></li>
                </ul>
            </div>
        </div>
        <div class="row pl-2">
            <span class="pr-1">Build by</span><a class="footer-link" href="mailto:ehelpdesk1@gmail.com">Kavya, Nenisha & Sai Devi</a>.
        </div>
    </div>
</footer>
