<section class="section-products" id="products">
  <!--<div class="row justify-content-md-center pt-5">
    <h2 class="mb-5">products</h2>
  </div>-->

  <ul class="products-showcase clearfix m-0 p-0 row">
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/mobile.jpg" alt="Mumbai/Maharashtra">
      </figure>
      <div class="centered-text">Mobile</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/laptop.jpg" alt="Delhi">
      </figure>
      <div class="centered-text">Laptop</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/desktop.jpg" alt="Goa">
      </figure>
      <div class="centered-text">Desktop</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/tv.jpg" alt="Gujarat">
      </figure>
      <div class="centered-text">Television</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/refrigerator.jpg" alt="Bangalore">
      </figure>
      <div class="centered-text">Refrigerator</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/oven.jpg" alt="Bangalore">
      </figure>
      <div class="centered-text">Microwave Oven</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/washing_machine.jpg" alt="Bangalore">
      </figure>
      <div class="centered-text">Washing Machine</div>
    </li>
    <li class="col-12 m-0 p-0 col-sm-4 col-md-3">
      <figure class="city-photo">
        <img src="../../../content/images/products/many-products.jpeg" alt="Bangalore">
      </figure>
      <div class="centered-text">Many More</div>
    </li>
  </ul>
</section>
