.section-contact-us {
  background-color: #192D43;
}

.contact-us-form {
  width: 60%;
  margin: 0 auto;
  color: #ccc;
}

.contact-us-form input[type=text],
.contact-us-form input[type=email],
.contact-us-form select,
.contact-us-form textarea {
  width: 100%;
  padding: 7px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

.contact-us-form label {
  color: #ccc;
}

.contact-us-form textarea {
  height: 100px;
}

.contact-us-form input[type=checkbox] {
  margin: 10px 5px 10px 0;
}

.contact-us-form *:focus {outline: none;}

input[type=submit] {
  border: 1px solid #135b8d;
  display: inline-block;
  padding: 10px 30px;
  font-weight: 300;
  text-decoration: none;
  border-radius: 200px;
  transition: background-color .2s,color .2s,border .2s;
  color: #fff;
  margin-right: 15px;
  background-color: #135b8d;
}