.dashboard-container,
.dashboard-container table {
  color: #cccccc;
  width: 100%;
  font-size: 90%;
}

.dashboard-container table tbody tr:nth-child(even) {
  background-color: #1f364c;
}

.dashboard-container table thead tr {
  background-color: #1f364c;
}

.dashboard-container h2 {
  text-align: center;
}

.alert pre {
  background: none;
  border: none;
  font: inherit;
  color: inherit;
  padding: 0;
  margin: 0;
}
