.card {
    background-color: #1a3652;
    cursor: pointer;
    margin-bottom: 30px;
}

.card:hover {
    background-color: #1e4e7d;
}

.dashboard-main a:hover,
.dashboard-main a:visited {
    border-bottom: 0;
}

.dashboard-main a:link,
.dashboard-main a:visited {
    transition: none;
}

@media (min-width: 768px) {
    .pl-md-7, .px-md-7 {
        padding-left: 7rem !important;
    }

    .pr-md-7, .px-md-7 {
        padding-right: 7rem !important;
    }
}