* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #fff;
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
}

header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/landing-img.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/landing-img.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

.plain-background {
  background-image: none;
  background-color: #111d29;
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: 20px;
  color: #FFF;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 4px;
}

h1 {
  font-size: 200%;
}

h3 {
  font-size: 120%;
}

h2:after {
  display: block;
  height: 2px;
  background-color: #135b8d;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
